{% extends "base.html" %}
{% block content %}
<!--To show ALL board games-->
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-10" style="padding-top: 20px;">
        <center>
            <h1>Welcome to Bored Game Collector !</h1>
            {% if current_user.is_authenticated == false%}
                <h4>Login/Register to start adding to your collection!</h4>
            {% endif %}
        </center>
    </div>
    <div class="col-12 col-md-9 col-lg-7 col-xl-10" style="padding-top: 20px;">
        <center>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        </center>
    </div>
    <div class="allResults">
        <div class="" style="padding-top: 20px; margin: auto;">
            <div class="card HgameResult-box" style="border-radius: 15px;">
                <!-- The head of the table -->
                <table class="Hresults">
                    <tr>
                        <th class="gameNum">Rank</th>
                        <th class="line"></th>
                        <th class="Himg">Image</th>
                        <th class="line"></th>
                        <th class="Htitle">Name</th>
                        <th class="line"></th>
                        <th class="Hplayers">Min/Max Players</th>
                        <th class="line"></th>
                        <th class="HplayTime">Avg Time</th>
                        <th class="line"></th>
                        <th class="HplayTime">Year</th>
                        <th class="line"></th>
                        <th class="Hrating">Avg Rating</th>
                        <th class="line"></th>
                        <th class="HminAge">Min Age</th>
                        <th class="line"></th>
                        <th class="Hcategories" style="width: auto;">Categories</th>
                        <th class="line"></th>
                        <th style="width: 40px;"><img class="starImg" src="../static/star-icon.png" alt="Thumbs up icon"></th>
                        {% if current_user.is_authenticated %}
                            <th class="line"></th>
                            <th class="HaddBtn">Add to Collection</td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
        <!-- Display each board game result -->
        {% for game in data.items %}
        <div class="" style="padding-top: 20px; margin: auto;">
            <div class="card gameResult-box" style="border-radius: 15px;">
                <table class="results">
                    <tr>
                        <td class="gameNum">{{ game.id }}</td>
                        <td class="line"></td>
                        <td class="img"><img src={{ game.imageURL }} alt={{ game.title }}></td>
                        <td class="line"></td>
                        <td class="title">{{ game.title }}</td>
                        <td class="line"></td>
                        <td class="players">{{ game.minPlayers }}</td>
                        <td class="line"></td>
                        <td class="players">{{ game.maxPlayers }}</td>
                        <td class="line"></td>
                        <td class="playTime">{{ game.playTime }}</td>
                        <td class="line"></td>
                        <td class="playTime">{{ game.releaseYear }}</td>
                        <td class="line"></td>
                        <td class="rating">{{ game.rating }}</td>
                        <td class="line"></td>
                        <td class="minAge">{{ game.minAge }}</td>
                        <td class="line"></td>
                        <td class="categories">{{ game.category }}</td>
                        <td class="line"></td>
                        <td class="saves">{{ game.saves }}</td>
                        {% if current_user.is_authenticated %}
                        <td class="addBtn">
                            <form action="/add/{{ game.id }}" method="post">
                                <button type="submit" name="gameAdd" value="+" class="btn btn-orange gradient-custom-4">+</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- For the page navigation buttons -->
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="pages">
        {% if data.has_prev %}
            <a class="btn pgBtns text-body prevBtn page-number" href="{{ url_for('boardgame', page=data.prev_num) }}"><<</a>
        {% endif %}

        {% for pgnumber in data.iter_pages() %}
            {% if pgnumber == None %}
                ...
            {% elif data.page != pgnumber %}
                <a class="btn pgBtns text-body page-number" href="{{ url_for('boardgame', page=pgnumber) }}">{{ pgnumber }}</a>
            {% else %}
                <div class='current-page-number btn pgBtns text-body'>{{ pgnumber }}</div>
            {% endif %}
        {% endfor %}

        {% if data.has_next %}
            <a class='btn pgBtns text-body' href="{{ url_for('boardgame', page=data.next_num) }}"> >> </a>
        {% endif %}
    </div>
</div>
<footer class="bg-pink">
    <h3>Created by Linton Fogden: </h3>
    <h4><a href="https://www.linkedin.com/in/linton-fogden-9b9730252/" style="padding-left: 10px;">Linkedin</a></h4>
<footer>
{% endblock %}